anyio==4.1.0
asttokens==2.4.1
attrs @ file:///croot/attrs_1695717823297/work
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
build @ file:///croot/python-build_1679596508056/work
CacheControl @ file:///croot/cachecontrol-split_1676365553644/work
certifi==2023.7.22
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer==3.3.2
cleo @ file:///croot/cleo_1679609976041/work
comm==0.1.4
crashtest @ file:///croot/crashtest_1679422372509/work
cryptography @ file:///croot/cryptography_1694444244250/work
debugpy==1.8.0
decorator==5.1.1
distlib @ file:///croot/distlib_1673477531104/work
dulwich @ file:///croot/dulwich_1679420040193/work
exceptiongroup==1.1.3
executing==2.0.1
filelock @ file:///croot/filelock_1700591183607/work
h11==0.14.0
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore==1.0.2
httpx==0.25.2
idna==3.4
importlib-metadata @ file:///croot/importlib-metadata_1678997070253/work
installer @ file:///croot/python-installer_1679432998036/work
ipykernel==6.26.0
ipython==8.17.2
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi==0.19.1
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jsonschema @ file:///croot/jsonschema_1699041609003/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter_client==8.5.0
jupyter_core==5.5.0
keyring @ file:///croot/keyring_1678999217139/work
lockfile==0.12.2
lxml==4.9.3
matplotlib-inline==0.1.6
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
more-itertools @ file:///croot/more-itertools_1700662129964/work
msgpack @ file:///opt/conda/conda-bld/msgpack-python_1652362659880/work
nest-asyncio==1.5.8
numpy==1.26.1
packaging==23.2
pandas==2.1.2
parso==0.8.3
pexpect==4.8.0
pkginfo @ file:///croot/pkginfo_1679431160147/work
platformdirs==3.11.0
poetry @ file:///croot/poetry_1680193142998/work
poetry-core @ file:///croot/poetry-core_1680018645313/work
poetry-plugin-export @ file:///croot/poetry-plugin-export_1680122784541/work
prompt-toolkit==3.0.39
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.16.1
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyproject_hooks @ file:///croot/pyproject_hooks_1679584411881/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.1
rapidfuzz @ file:///croot/rapidfuzz_1679593470109/work
referencing @ file:///croot/referencing_1699012038513/work
requests==2.31.0
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
rpds-py @ file:///croot/rpds-py_1698945930462/work
SecretStorage @ file:///croot/secretstorage_1678709481048/work
shellingham @ file:///croot/shellingham_1669142169426/work
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
tomlkit @ file:///tmp/abs_56_0lnnq5x/croots/recipe/tomlkit_1658946880479/work
tornado==6.3.3
traitlets==5.13.0
trove-classifiers @ file:///croot/trove-classifiers_1698759118627/work
tzdata==2023.3
urllib3==2.1.0
virtualenv @ file:///croot/virtualenv_1674752100526/work
wcwidth==0.2.9
webencodings==0.5.1
zipp @ file:///croot/zipp_1672387121353/work

geojson
polars[all]
geopandas
